@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

body {
    font-family: "Open Sans", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 14px; 
}

h1 {
    font-size: 44px;
    text-align: center;
}

@media (min-width: 768px) {
    .container {
        margin: 0px auto;
        max-width: 800px;
    }
}